/* Variables */
:root{
	--background: #000000;
	--foreground: #00bf00;
	--text-color: #dcdcdc;

	--link-color: #00bf00;
	--link-hover: #00d300;
	--link-activ: #00ab00;
}

/* Main Elements (Containers) */
body{
	background: var(--background);
	color: var(--text-color);

	font-family: Helvetica;
	font-size: 20px;

	padding: 0;
	margin: 0;
}

header, footer{
	display: flex;
	justify-content: space-between;

	border: 2px solid var(--foreground);

	font-weight: 600;

	padding: 4px 7px;
}
header{
	border-style: none none solid none;
}
footer{
	border-style: solid none none none;
}


main{
	padding: 10px;
}


/* Elements */
nav{
	& a{
		&:before{content: "["}
		&:after{content: "]"}
		& img{
			margin: 0 2px;
			height: 16px; width: 16px;
			vertical-align: middle;
		}
	}
}
a{
	&:hover{
		text-decoration: underline dotted;
		text-decoration-thickness: 2px;
		color: var(--link-hover);
	}
	&:active{
		color: var(--link-activ);
	}
	text-decoration: none;
	color: var(--link-color);
}