:root{
	--background: #101010;
	--foreground: #dcdcdc;
	--link-color: #81e07d;
}

body{
	padding: 0;
	margin: 0;

	background: var(--background);
	color: var(--foreground);

	font-family: Arial;
	font-size: 20px;

	image-rendering: pixelated;
}


header, footer{
	display: flex;
	justify-content: space-between;

	border: 2px solid var(--foreground);
	padding: 3px 5px;

	font-family: Consolas;
}
header{
	border-style: none none solid none;
	& #logo{ color: #e0d07d; }
}
footer{
	border-style: solid none none none;
}


main{
	padding: 10px;
}


.navbar{
	& a{
		&:before{content: "["}
		&:after{content: "]"}
		& img{
			margin-right: 2px;
			height: 16px; width: 16px;
			vertical-align: middle;
		}
	}
}
a{
	&:hover{
		text-decoration: underline dotted;
		text-decoration-thickness: 2px;
	}
	text-decoration: none;
	color: var(--link-color);
}